body {
    background-image: url("./games/media/img/fondo_pared_roca.jpg");
    background-size: cover;
    background-repeat: repeat-x repeat-y;
    color: black;
}

.presentacion {
    background-color: white;
    opacity: 0.85;
}

p {
    color: black;
}